.container-inspCard{
  display: grid;
  grid-template-rows: 9rem auto;
  margin-top:10px;
}
.container-card{
  display:grid;
  grid-template-columns: 40% 60%;
  background-color: #f77;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 0 auto;
  height: 130px;
  /* width: 90%; */
  z-index: 1;
  padding-top: 20px;
  max-width: 95%;
}
@keyframes animopen {
  from {border-bottom-right-radius:0%;
    border-bottom-left-radius:0%;
  }
 to {border-bottom-right-radius:50%;
 border-bottom-left-radius:50%;
}
}

.container-card--opened{
  animation-name: animopen;
  animation-duration:2.5s;
  border-bottom-right-radius:50%;
   border-bottom-left-radius:50%;
}

.readmore{
  color: #1600a8
}
.shortDescription{
  /* white-space: nowrap; */
  overflow: hidden;
  font-size: 1rem;
  max-width: 29ch;
  margin-right:8px;
  max-height: 3.2em;
  margin-top: 0px;
}
.img{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.hideall{
  display: none !important;
}
