.aboutContainer {
  position: relative;
  height: 94vh;
}

.about {
  background-color: #f77;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 40px;
}

.center {
  text-align: center;
  font-size: 24px;
  font-family: "ubuntu";
}

.teamMembersSection {
  width: 100%;
  bottom: 0;
}

.teamMembersSubContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px;
  width: fit-content;
}

li {
  list-style-type: none;
  margin-top: 5px;
}
