.showMore {
  display: grid;
  grid-template-rows: 7rem 26rem;
  margin-top: 5px;
}
.hideAll {
  display: grid;
  grid-template-rows: 7rem;
  margin-top: 5px;
}
.cardDetails {
  display: flex;
  justify-content: center;
  border: solid 1px;
  background-color: #f77;
  border-radius: 10px;
  font-family: "ubuntu";
  font-size: 1.2rem;
}
.subContainer {
  padding: 1rem;
}

.imgDim {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
}
.imgDim1 {
  width: 2rem;
  height: 2rem;
}

button {
  background: transparent;
  border: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
