.card {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 9rem;
  justify-items: center;
  align-items: center;
  background-color: #f77;
  border-radius: 10px;
  font-family: "ubuntu";
  font-size: 1.2rem;
  width: 96%;
  margin-top: 1%;
}

.cardDetails {
  justify-self: left;
  margin-left: 3%;
}

.imgDim {
  width: 45px;
  height: 45px;
}

.show {
  display: grid;
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
}
.hide {
  display: none;
}
